.create-file-dialog {
    .description {
        img {
            width: 113px;
            height: 90px;  
            margin: 30px 30% 10px;
        }
        p {
            text-align: center;
        }
    }
}