.LoginOrProject {
    height: 100%;
    width: 100%;
}
.loginPage{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;

    .formWrap {
      height: 300px;
      width: 500px;
   
      .logo{
          text-indent: -9999px;
          margin-top: 0;
          width: 202px;
          background: url(./logo.svg) no-repeat 0 0;
          background-size: 202px 30px;
          margin-left: 184px;
          margin-bottom: 15px;
      }

      .ruleForm{
          margin: auto;
          width: 400px;
          background-color: #fff;

          .username,
          .password{
              height: auto;
              width: 100%;
              margin-bottom: 25px;
              padding: 12px;
              font-size: 16px;
              line-height: 20px;
              -webkit-appearance: none;
              border-radius: 5px;
          }

          span {
            height: 46px;
            display: block;
            background-color: #3DA8F5;
            color: #FFF;
            transition: padding-right 218ms ease;
            border: 1px solid #3DA8F5;
            margin-bottom: 10px;
            border-radius: 5px;
            font-size: 16px;
            line-height: 46px;
            cursor: pointer;
          }
      }
    }
}